.card{

    width:30%;
    text-align: center;
    display: flex;

 padding: 30px;
    justify-content: center;

    justify-content: center;
align-content: center;

margin: auto;
top: 120px;

}

.pop{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.size {
    width: 800px;
}